<!doctype html>
<html>
	<head>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
		<style>
			body {
				min-width:100px;
			}

			table, th, td {
				border: 1px solid black;
				border-collapse: collapse;
			}
			
			td {
				padding: 5px;
			}
			
			button {
				border: none;
				background: none;
				cursor: pointer;
			}
		</style>
	</head>
	<body>
		<table>
			<tr>
				<td>
					<i class="far fa-comments"/>
				</td>
				<td>
					<a href="https://www.reddit.com/chat" target="_blank">Chats</a>
				</td>
				<td>
					<button id="deleteSentDM" class="far fa-play-circle"></button>
				</td>
			</tr>
			<tr>
			</tr>
		</table>
	</body>
	<script src="../scripts/popup.js"></script>
</html>
